<!--uses base template-->
{% extends "base.html" %}
{% block title %}TwitterCritic - What's loved and hated the most?{% endblock %}
{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <h1>Contact Details</h1>
    <div class="row">
        <div class="col-md-12">
            <h3>How to get in Touch?</h3>
            <p>If you would like to ask questions please feel to use the methods below:</p>
            <p>Email: 19068737@stu.mmu.ac.uk</p>
            <p>GitHub: <a href="https://github.com/lewisj2501/twitter-text-mining">
            https://github.com/lewisj2501/twitter-text-mining</a></p>
        </div>
    </div>
    <hr>
</div> <!-- /container -->

{% endblock %}
