<!--uses base template-->
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">
        <!-- Example row of columns -->
		<div class="row">
          <div class="col-md-12">
            <form method="get" action="/search">
          <div class="form-group">
            <label for="inputGame">Game Title</label>
            <input type="text" name="name" class="form-control" id="inputGame" placeholder="Enter Game" required>
            <input type="submit"></input>
          </div>
            </form>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

{% endblock %}
