<!--uses base template-->
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h6>{{gameName}} Tweets</h6>
<table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Data</th>
            <th scope="col">Language</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Sentiment</th>
        </tr>
    {% for x in content %}
    <tr>
        {% for tweet in x %}
        <th scope="row"></th>
        <td>{{tweet}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
