<!--uses base template-->
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">
    <ul class="list-inline">
        <li class="list-inline-item"><h1>{{name}} <small>({{mediaType}})</small></h1></li>
        <li class="list-inline-item"><h1>Score: <small>{{score}}</small></h1></li>
        <li class="list-inline-item"><h1>Perception: <small>{{sentiment}}</small></h1></li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <h1>Most Postive Tweets:</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                </tr>
                </thead>
                {% for x in posTweets %}
                <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>{{x}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Most Negative Tweets:</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                </tr>
                </thead>
                {% for y in negTweets %}
                <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>{{y}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <h1>Graphs:</h1>
    <div class="row">
        <div class="col-md-6">
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <script>
            var barColors = [
              "#1e7145",
              "#FF0000",
              "#808080"
            ];
            var pieChart = new Chart("myChart", {
                type: "pie",
                 data: {
                   labels: {{ overallLabels | safe}},
                   datasets: [{
                     backgroundColor: barColors,
                     data: {{ overallValues | safe}}
                   }]
                 },
                 options: {
                   title: {
                     display: true,
                     text: "Overall Sentiment"
                   }
                 }
               });
            </script>
        </div>
        <div class="col-md-6">
            <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
               <script>
            var barColors = [
              "#1e7145",
              "#2BA765",
              "#35CE7D",
              "#1BEF7F",
              "#FF0000",
              "#C52A2A",
              "#A54545",
              "#8E4B4B",
              "#808080"
            ];
            var pieChart = new Chart("myChart2", {
                type: "pie",
                 data: {
                   labels: {{ detailedLabels | safe}},
                   datasets: [{
                     backgroundColor: barColors,
                     data: {{ detailedValues | safe}}
                   }]
                 },
                 options: {
                   title: {
                     display: true,
                     text: "Detailed Sentiment"
                   }
                 }
               });
            </script>
        </div>

    </div>
    <div class="row">
        <h1>Most Recent Tweets</h1>
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Tweet</th>
                    <th scope="col">Language</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Sentiment</th>
                </tr>
                </thead>
                {% for z in content %}
                <tbody>
                <tr>
                    {% for tweet in z %}
                    <th scope="row"></th>
                    <td>{{tweet}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock %}
        </div>

    </div>

</div> <!-- /container -->