<!--uses base template-->
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-inline">
                <li class="list-inline-item"><h1>{{name}} <small>({{mediaType}})</small></h1></li>
                <li class="list-inline-item"><h1>Score: <small>{{score}}</small></h1></li>
                <li class="list-inline-item"><h1>Perception: <small>{{sentiment}}</small></h1></li>
            </ul>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Tweet</th>
                    <th scope="col">Language</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Sentiment</th>
                </tr>
                </thead>
                {% for x in content %}
                <tbody>
                <tr>
                    {% for tweet in x %}
                    <th scope="row"></th>
                    <td>{{tweet}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock %}
        </div>

    </div>
</div> <!-- /container -->
